/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
    font-family: sans-serif;
    background-color: white;
}

.pomodoro-estimate{
  color: #F44336;
  background-color: #F5F5F9;
  border-radius: 50px;
  font-size: 14px;
  padding: 5px 5px 5px 5px;
}

#add-new-todo-button{
    font-size: 20px;
    box-shadow:2px 2px 1px #90A4AE;
    margin: 100px;
}

#add-new-todo-button:active{
    box-shadow: 1px 1px 1px #90A4AE;
    margin: 100px;
}


ul{
    padding: 10px;
    margin-bottom: 10px;
    font-size:14px;
    padding: 5px 5px 5px 5px;
    background-color:brown;
    color:white;
}

h1{
text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-size: 32px;
  margin: 20px 0px;
}
ul {
  list-style-type: none;
}

h2{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    font-size:14px;
    padding: 5px 5px 5px 5px;
    background-color:white;
    list-style-type: none;
    text-align: center;
     display: inline-block;
  vertical-align: middle;
  font-size: 32px;
  margin: 20px 0px;
}
span{
  background-color: #34495e;
  color: #ECF0F1;
  padding: 20px
}
a {
    background-color: purple;
    padding: 20px;
    border-radius: 50px;
}