<h1>Hello World!</h1>
<h3> Real people program</h3>
<ul> 
<div>
    <li> <input type="checkbox"> <a href="show.html">finish Geometry project for monday</a> 
<span class="pomodoro-estimate">3 pomodoros</span> </li>
<br>
    <li><input type="checkbox"> finish english paper<span class="pomodoro-estimate"> 2 pomodoros</span></li>
    <br>
    <li><input type="checkbox"> go to bestbuy <span class="pomodoro-estimate"> 3 pomodoros</span> </li>
    <br>
    <li><input type="checkbox"> unbox things <span class="pomodoro-estimate"> 1 pomodoros</span></li>
    <br>
    <li><input type="checkbox"> relax <span class="pomodoro-estimate">3 pomodoros</span></li>
    <br>
</ul></div>
<input type="text" placeholder="Add a new todo...">
<input type="number" placeholder="Pomodoro estimate...">
<input id="add-new-todo-button" type="submit" value="Add todo">