<h1>List Items</h1>
<ul> 
<div>
    <li> <input type="checkbox"> <a href="show/1">finish Geometry project for monday</a> 
<span class="pomodoro-estimate">3 pomodoros</span> </li>
<br>
    <li><input type="checkbox"><a href="show/2">finish english paper</a><span class="pomodoro-estimate"> 2 pomodoros</span></li>
    <br>
    <li><input type="checkbox"><a href= "show/3"> go to bestbuy</a> <span class="pomodoro-estimate"> 3 pomodoros</span> </li>
    <br>
    <li><input type="checkbox"><a href= "show/4">unbox things</a><span class="pomodoro-estimate"> 1 pomodoros</span></li>
    <br>
    <li><input type="checkbox"><a href= "show/5"> relax</a> <span class="pomodoro-estimate">3 pomodoros</span></li>
    <br>
</ul></div>
<input type="text" placeholder="Add a new todo...">
<input type="number" placeholder="Pomodoro estimate...">
<input id="add-new-todo-button" type="submit" value="Add todo">