<h1>Add a new Todo</h1>
<br>
<form action= "/todo/create">
    <input type="text" name="description" placeholder="Add a new todo...">
    <input type="number"name="pomodoro_estimate"placeholder="Pomodoro estimate...">
    <input id="add-new-todo-button" type="submit" value="Add todo">
</form>
